name: GitHub Actions Version Updater - My Version

on:
  workflow_dispatch: # Manual trigger
  schedule: # Automatically run every Sunday
    - cron: "0 0 * * 0"

#permissions:
#  actions: write
permissions:
  contents: write
  actions: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.GH_TOKEN }}

      # Run GitHub Actions Version Updater from your fork
      - name: Run GitHub Actions Version Updater
        uses: charl3y15/github-actions-version-updater@1.3 #add-Docker-update
        with:
          token: ${{ secrets.GH_TOKEN }}
          skip_pull_request: "false"
          update_version_with: "release-tag"
          release_types: "all"
          pull_request_labels: "dependencies, automated"
          pull_request_branch: "actions-update"
